<h1> 羊坊店中心小学一年级 东东 课程表</h1>

<table>
  <tr>
    <th>周一</th>
    <th>周二</th>
    <th>周三</th>
    <th>周四</th>
    <th>周五</th>
    <th>周六</th>
    <th>周日</th>
    <th>第几个</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @week1s.each do |week1| %>
  <tr>
    <td><%= week1.mon1 %></td>
    <td><%= week1.tue1 %></td>
    <td><%= week1.wed1 %></td>
    <td><%= week1.thu1 %></td>
    <td><%= week1.fri1 %></td>
    <td><%= week1.sat1 %></td>
    <td><%= week1.sun1 %></td>
    <td><%= week1.di1 %></td>
    <td><%= link_to 'Show', week1 %></td>
    <td><%= link_to 'Edit', edit_week1_path(week1) %></td>
    <td><%= link_to 'Destroy', week1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Week1', new_week1_path %>
