<p id="notice"><%= notice %></p>

<p>
  <b>Mon1:</b>
  <%= @week1.mon1 %>
</p>

<p>
  <b>Tue1:</b>
  <%= @week1.tue1 %>
</p>

<p>
  <b>Wed1:</b>
  <%= @week1.wed1 %>
</p>

<p>
  <b>Thu1:</b>
  <%= @week1.thu1 %>
</p>

<p>
  <b>Fri1:</b>
  <%= @week1.fri1 %>
</p>

<p>
  <b>Sat1:</b>
  <%= @week1.sat1 %>
</p>

<p>
  <b>Sun1:</b>
  <%= @week1.sun1 %>
</p>

<p>
  <b>Di1:</b>
  <%= @week1.di1 %>
</p>


<%= link_to 'Edit', edit_week1_path(@week1) %> |
<%= link_to 'Back', week1s_path %>
